<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>
  <%- include("partials/head.ejs")%>
</head>

<body class="w-screen h-screen overflow-hidden">
  <%- include("partials/navigation.ejs")%>
    <main class="w-full h-full text-center pt-2 flex justify-center items-center">
      <section class="flex flex-col gap-5">
        <h1 class="text-5xl">About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur dignissimos esse ipsam, sunt voluptatem
          placeat magni facilis minus vero tempora. Consectetur harum laboriosam at tenetur ipsum, magni veritatis fuga
          excepturi architecto blanditiis atque, laudantium ipsa esse rem tempore. Voluptates iure saepe quis in laborum
          odio excepturi ipsa natus iste. Doloremque, enim repellat, facilis, ipsa et error expedita delectus odit
          quibusdam aspernatur ex! Ab, laboriosam? Voluptatum at tenetur esse. Adipisci quos placeat dolorum itaque
          provident reprehenderit, molestiae eveniet qui distinctio perferendis doloribus, esse iusto modi minus et
          deserunt. Repudiandae delectus commodi error inventore, quos iusto voluptas fuga officiis minima aspernatur
          ducimus dolore blanditiis iure accusamus molestiae incidunt ipsam perspiciatis eos! Magni hic tenetur illum,
          voluptate, quidem accusamus autem aperiam dolorum natus laboriosam aliquam fugit vel ipsam labore iste eum
          voluptas nisi quos repellendus odio sit. Consequatur aspernatur temporibus iste aut labore sint ab doloribus
          eveniet sed tenetur magni, consequuntur ipsam vitae natus ullam pariatur a. A aliquid eaque doloribus
          recusandae aliquam animi totam libero doloremque voluptatibus eius, placeat perspiciatis eos tempore obcaecati
          voluptas vero quae consectetur est, repudiandae maxime molestiae. Exercitationem, tempore et rem, rerum nam
          ipsum distinctio ducimus aliquid veniam soluta quibusdam perferendis dicta repellat facere unde quaerat
          necessitatibus harum.</p>
      </section>
    </main>
</body>

</html>