<nav class="flex items-center justify-between px-5">
  <h1 class="font-bold text-2xl">Node js Website</h1>
  <ul class="flex gap-5 p-6">
    <li>
      <a class="hover:font-bold" href="/">Home</a>
    </li>
    <li>
      <a class="hover:font-bold" href="/about">About</a>
    </li>
    <li>
      <a class="hover:font-bold" href="/contact">Contact</a>
    </li>

  </ul>
</nav>